* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  background-image: url(../img/Home1024.png);
  min-height: 100vh;
  background-size: cover;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 1024px;
  position: relative;
  min-height: 200px;
}

.menu {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  width: 1024px;
  margin-left: 44px;
  list-style: none;
}

.menu-list {
  font-size: 28px;
  float: left;
  margin-right: 60px;
}

.menu-list-item:hover {
  color: #263555;
 }

.submenu {
  display: none;
  position: absolute;
  list-style: none;
  background-color: #fcfafa;
  border-width: 1px;
  border-color: #dfdcdc;
  border-style: solid;
  border-radius: 5px;
}

.submenu-item {
}

.submenu-list-item {
  font-size: 20px;
  color: #6b7488;
  font-family: "Pathway Gothic One";
  text-decoration: none;
}

.menu-list:nth-child(2): {
  position: relative;
}

.menu-list:nth-child(2):hover>.submenu {
  display: block;
}

.menu-list:nth-child(3) {
  margin-right: 0px;
}

.menu-list:nth-child(4) {
  margin-left: 340px;
}

.menu-list-item {
  text-decoration: none;
  color: #ffffff;
  font-family: "Pathway Gothic One"
}

.logo {
  font-family: 'Dorsa';
  font-size: 60px;
  color: #263555;
  font-weight: normal;
  position: absolute;
  width: 138px;
  height: 138px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  display: block;
  text-decoration: none;
  line-height: 138px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}