* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  background-image: url(../img/Home1024.png);
  min-height: 100vh;
  background-size: cover;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 1024px;
  position: relative;
  min-height: 200px;
}

.menu {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  width: 1024px;
  margin-left: 44px;
}

.menu-list {
  list-style-type: none;
  font-size: 28px;
  float: left;
  margin-right: 60px;
}

.menu-popup {
  visibility: hidden;
  position: relative;
}

.menu-popup-item {
  font-size: 20px;
  color: #ffffff;
  font-family: "Pathway Gothic One";
  z-index: 1;
  position: absolute;
}


.menu-list:nth-child(2):hover {
  visibility: visible;
}

.menu-list:nth-child(3) {
  margin-right: 0px;
}

.menu-list:nth-child(4) {
  margin-left: 340px;
}

.menu-list-item {
  text-decoration: none;
  color: #ffffff;
  font-family: "Pathway Gothic One"
}

.logo {
  font-family: 'Dorsa';
  font-size: 60px;
  color: #263555;
  font-weight: normal;
  position: absolute;
  width: 138px;
  height: 138px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  display: block;
  text-decoration: none;
  line-height: 138px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}