* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  display: block;
  clear: both;
  content: '';
}

.body {
  background-image: url("../img/Home1024.png");
  min-height: 100vh;
}

.wrapper {
  width: 1024px;
  padding: 58px 60px 136px 60px;
  background: #fff;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  min-height: 200px;
  margin-top: 50px;
}

.header {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 1024px;
  min-height: 200px;
}

.menu {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  width: 1024px;
  margin-left: 44px;
  list-style: none;
}

.menu-list {
  font-size: 28px;
  float: left;
  margin-right: 60px;
}

.menu-list-item:hover {
  color: #263555;
}

.submenu {
  display: none;
  position: absolute;
  list-style: none;
  background-color: #fcfafa;
  border-width: 1px;
  padding: 8px;
  border-color: #dfdcdc;
  border-style: solid;
  border-radius: 5px;
}

.submenu::before {
  position: absolute;
  bottom: 112px;
  left: 26px;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fcfafa;
}

.submenu-item {}

.submenu-list-item {
  font-size: 20px;
  color: #6b7488;
  font-family: "Pathway Gothic One";
  text-decoration: none;
}

.menu-list:nth-child(2): {
  position: relative;
}

.menu-list:nth-child(2):hover>.submenu {
  display: block;
}

.menu-list:nth-child(3) {
  margin-right: 0px;
}

.menu-list:nth-child(4) {
  margin-left: 340px;
}

.menu-list-item {
  text-decoration: none;
  color: #ffffff;
  font-family: "Pathway Gothic One"
}

.logo {
  font-family: 'Dorsa';
  font-size: 60px;
  color: #263555;
  font-weight: normal;
  position: absolute;
  width: 138px;
  height: 138px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  display: block;
  text-decoration: none;
  line-height: 138px;
}

.slider {
  position: relative;
  display: inline-block;
  margin-bottom: 58px;
}

.layer1 {
  z-index: 4;
  position: absolute;
  top: 0;
}

layer2 {
  z-index: 3;
  position: absolute;
  top: 0;
}

.layer3 {
  z-index: 2;
  position: absolute;
  top: 0;
}

.layer4 {
  z-index: 1;
  position: absolute;
  top: 0;
}

.button {
  border-radius: 50%;
  border: 0;
  padding: 0;
  position: absolute;
  z-index: 5;
  bottom: 20px;
  left: 20px;
}

.left-circle {
  border-radius: 100% 0 0 100% / 50%;
  width: 45px;
  height: 90px;
  background: #38afe5;
  text-decoration: none;
  text-align: center;
  line-height: 90px;
  float: left;
}

.left-circle:after {
  content: "\2190";
  color: #cbc6c6;
  font-size: 30px;
  font-weight: bolder;
}

.right-circle {
  border-radius: 0 100% 100% 0 / 50%;
  width: 45px;
  height: 90px;
  background: #38afe5;
  text-decoration: none;
  text-align: center;
  line-height: 90px;
  float: left;
}

.right-circle:after {
  content: "\2192";
  color: #cbc6c6;
  font-size: 30px;
  font-weight: bolder;
}

.left-circle:hover {
  opacity: 0.5;
}

.right-circle:hover {
  opacity: 0.5;
}

.slider-title {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 300px;
  z-index: 5;
}

.slider-upper {
  font-size: 24px;
  color: #263555;
  font-family: "Pathway Gothic One";
  background: #ffffff;
  border-top: 400px;
  width: 224px;
  height: 62px;
  text-align: center;
  display: block;
}

.slider-bottom {
  font-size: 36px;
  color: #ffffff;
  font-family: "Pathway Gothic One";
  background: #38afe5;
  width: 276px;
  height: 60px;
  text-align: center;
  display: block;
}

.title-bottom {
  margin-bottom: 40px;
  color: #263555;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.3;
  text-transform: uppercase;
  font-family: 'Pathway Gothic One';
}

.destination {
  float: left;
  position: relative;
  margin-right: 20px;
}

.destination:last-child {
  margin-right: 0;
}

.destination:hover .hided-info {
  display: block;
}

.destination-img {
  display: block;
}

.hided-info {
  background: #193149;
  padding: 26px 10px 32px 10px;
  position: absolute;
  bottom: 0;
  top: 0;
  display: none;
  width: 50%;
}

.destination-title {
  color: #ffffff;
  font-family: 'Open Sans';
  line-height: 1.5;
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
}

.destination-text {
  font-size: 10px;
  line-height: 12px;
  color: #cbc6c6;
  margin-bottom: 24px;
  font-family: Arial;
}

.details {
  text-align: right;
}

.destination-link {
  padding: 2px 12px;
  display: inline-block;
  color: #000000;
  font-size: 12px;
  background: #fcf5f6;
  text-decoration: none;
  border-radius: 2px;
}

.destination-link:hover {
  background: #38afe5;
  color: #ffffff;
}

.to-top-button-item {
  background: #38afe5;
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  border: none;
  position: fixed;
  right: 420px;
  bottom: 10px;
  outline: none;
}

.to-top-button-item:before {
  content: '\22C0';
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}